@import "@/styles/fontStyle.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.contents {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 20px 29px;
    width: 100%;
    height: fit-content;
}

.textarea {
    display: flex;
    flex-direction: column;

    textarea {
        padding: 10px;
        @extend %R_16;
    }
}
