@import "@/styles/color";
@import "@/styles/fontStyle";
@import "@/styles/util";
@import "@/styles/layout";

.modalContainer {
    width: 100%;
    max-width: 480px;
    height: 100%;
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
