.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100%;
    padding-top: 70px;
    background-color: #f6f6f6;
}

.menuContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 62.5%;
    height: 300px;
    margin-top: 30px;
}
