@import "@/styles/util.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 0;
    max-width: 480px;
    width: 100%;
    height: 40%;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    background: #fff;
    z-index: 1;
    overflow: hidden;
    transition: height 0.3s;
    box-shadow: 0px -4px 6px -4px rgba(0, 0, 0, 0.75);
}

.expanded {
    height: 5%;
}

header {
    display: flex;
    height: 10%;
    margin-bottom: 10px;
    cursor: pointer;
}

h3 {
    text-align: start;
}

.handle {
    width: 36px;
    height: 5px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #c0c1c2;
}

.list {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
    @extend %hideScrollBar;
}
