@import "@/styles/util.scss";
@import "@/styles/fontStyle.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    max-width: 480px;
    width: 100%;
    height: 20%;
    padding: 20px 10px;
    border-radius: 20px 20px 0px 0px;
    background: #fff;
    overflow: hidden;
    transition: height 0.4s;
    box-shadow: 0px -4px 6px -4px rgba(0, 0, 0, 0.75);
    :not(:first-child) {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }
}

.expanded {
    height: 85%;
    :not(:first-child) {
        opacity: 1;
    }
}

.wrapper > :not(.expanded) > *:not(header) {
    opacity: 1;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    span {
        @extend %B_20;
    }
}

h3 {
    text-align: start;
}

.handle {
    width: 36px;
    height: 5px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #c0c1c2;
}

.container {
    overflow: scroll;
}

.list {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
    @extend %hideScrollBar;
}
