@import "@/styles/color.scss";
@import "@/styles/fontStyle.scss";

.type {
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .typeLink {
        width: 100%;
        height: 203px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
    }
    .typeText {
        @extend %B_24;
        color: #fff;
    }
}
