@import "@/styles/color.scss";
@import "@/styles/fontStyle.scss";

.modalFull {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 480px;
    height: 100dvh;
    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* 열릴 때 애니메이션 */
.slideIn {
    animation: slideDown 0.5s ease-out forwards;
}

/* 닫힐 때 애니메이션 */
.slideOut {
    animation: slideUp 0.5s ease-out forwards;
}

@keyframes slideDown {
    from {
        transform: translate(-50%, -100%);
    }
    to {
        transform: translate(-50%, 0);
    }
}

@keyframes slideUp {
    from {
        transform: translate(-50%, 0);
    }
    to {
        transform: translate(-50%, -100%);
    }
}

.addressWrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    label {
        color: $gray;
    }
}

.address {
    width: 100%;
    height: 40px;

    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
