@import "@/styles/fontStyle.scss";
@import "@/styles/color.scss";

.timeItem {
    width: 80%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 10px;

    .timeDay {
        @extend %B_16;
    }

    .timeForm {
        display: flex;
    }
}
