%B_24 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

%B_20 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

%B_18 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

%B_16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

%SB_18 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

%SB_16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

%SB_14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

%M_20 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

%M_16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

%M_14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}

%M_12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

%R_16 {
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

%R_14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

%R_12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
