.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 30%;
    border-radius: 20px 20px 0px 0px;
    background: #fff;
    z-index: 999;
    overflow: hidden;
    transition: max-height 0.3s;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.5);
}

.expanded {
    max-height: 5%;
}

header {
    display: flex;
    align-items: center;
    height: 10%;
    margin-top: 20px;
    cursor: pointer;
}

.handle {
    width: 36px;
    height: 5px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #c0c1c2;
}

hr {
    width: 90%;
    margin: 0 auto;
    border-width: 0.1px;
    background-color: #ebebeb;
}
