@import "../../../styles/fontStyle.scss";

header {
    display: flex;
    height: 30px;
    align-items: center;
}

.handle {
    width: 36px;
    height: 5px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #c0c1c2;
}

.content {
    display: flex;
    gap: 30px;
    padding: 10px 50px;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span:first-child {
        @extend %M_24;
    }
    span:last-child {
        @extend %R_16;
    }
}

.kidImg {
    width: 82px;
    height: 82px;
    background-color: #c0c1c2;
}
