@import "../../../styles/fontStyle.scss";

.content {
    display: flex;
    gap: 30px;
    padding: 10px 50px;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span:first-child {
        @extend %M_24;
    }
    span:last-child {
        @extend %R_16;
    }
}

.kidImg {
    width: 82px;
    height: 82px;
    background-color: #c0c1c2;
}
